<h1><%= @build.name %></h1>

<h3>Description:</h3>
<p><%= @build.description %></p>

<br><br>

<h3>Race: <%= @race.name %></h3>

<h3>Class: <%=  @klass.name %></h3>

<ul>
<h3>Equipment: </h3>
    <li>Head: <%= %></li>
    <li>Chest: <%= %></li>
    <li>Arms: <%= %></li>
    <li>Feet: <%= %></li>
</ul>

<br><br>

<ul>
<h3>Encounters: </h3>
    <li><%= %></li>
    <li><%= %></li>
    <li><%= %></li>
    <li><%= %></li>
</ul>

