<h1><%= @build.name %></h1>

<h3>Description:</h3>
<p><%= @build.description %></p>

<br>

<h3>Race: <%= @build.karacter.race %></h3>

<h3>Class: <%=  @build.klass.name %></h3>

<h3>Equipment: </h3>
<% @build.gears.each do |gear|%>
    <ul>
        <li>Head: <%= gear.head %></li>
        <li>Chest: <%= gear.chest %></li>
        <li>Arms: <%= gear.arms %></li>
        <li>Feet: <%= gear.feet %></li>
    </ul>
<% end %>
<br><br>

<h3>Encounters: </h3>
<% @build.klass.readable_skills.each do |skill| %>
<ul>
        <li><%= skill %></li>
</ul>
<% end %>

